/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}





/* my stylings start */


    /* nav bar stylings and img 1 stylings*/

.navigation-bar {
    width: 800px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    padding: 20px 0 40px 0;
}

.navigation-bar nav a {
    
    text-decoration: none;
    color: black;
    font-size: 20px;
   
}

.navigation-bar nav {
    width: 600px;
    margin-left: 60px;
    display: flex;
    justify-content: space-around;
}

.topCenter {
    margin: 0 auto;
    margin-bottom: 30px;
}

.about-navbar {
    margin: 0 auto;
}


/*coloring boxes */
#boxone {
    background: teal;
}
#boxtwo {
    background: gold;
}
#boxthree {
    background: cadetblue;
}
#boxfour {
    background: coral;
}
#boxfive {
    background: crimson;
}
#boxsix {
    background: forestgreen;
}
#boxseven {
    background: darkorchid;
}
#boxeight {
    background: hotpink;
}
#boxnine {
    background: indigo;
}
#boxten {
    background: dodgerblue;
}



    /* about page stylings */

.about-section-one {
    padding: 20px;
    border-bottom: 2px dashed black;
    padding-bottom: 50px;
    margin-bottom: 25px;
}

.work-together {
    margin: 40px;
}

        /* main flex section stylings*/



.four-flex-items-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.middle-flex {
    
    width: 355px;
    margin: 20px;
    padding: 5px;
    padding-bottom: 15px;
    border-bottom: 1px dashed black;
}

.middle-flex img {
    width: 100%;
    margin-bottom: 15px;
}
.middle-flex p {
    margin-bottom: 20px;
    font-size: 17px;
}

.lm-button {
    width: 40%;
    text-align: center;
    padding: 10px 20px;
    border: 3px solid black;
    border-radius: 12px;
    font-size: 16px;
}




/* my stylings end*/



.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}








/* blog page stylings*/

.lineargradientheader {
    width: 100%;
    height: 140px;
    background: -webkit-linear-gradient(top, rgba(69,72,77,0.53) 0%,rgba(40,42,45,0.53) 32%,rgba(0,0,0,0.64) 76%,rgba(0,0,0,0.65) 82%);
    padding: 80px;
    padding-bottom: 50px;
    margin-bottom: 55px;
}

.blogpost {
    margin: 0 auto;
    width: 80%;
    border: 2px solid black;
    margin-bottom: 40px;
    margin-top: 20px;
    padding: 15px;
}


.blogimg{
    width: 180px;
    height: 180px;
    background: black;
}

.blogpost-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blogpost h2 {
    font-size: 45px;
}
